.login{

    background-image: url("../static/images/bg1.jpg");
}
body{
	background-image: url("../static/images/bg2.jpg");
}

.cosa{
    width: 450px;
    height: 400px;
    text-align: center;
    background-color: rgba(10, 131, 255, 0.4);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px; 
}

.cosa img{
	width: 120px;
	height: 120px;
	border-radius: 4px;
	margin-top: -30px;
	margin-bottom: 50px;
	margin-right: 300px;
 }

input {
    text-align: center;
	width: 200px;
	height: 35px;
	border-radius: 4px;
	front-size: 50px;
	margin-top: 10px;
	background-color: #fff
}
.btn{
	padding: 13px 0px;
	height: 40px;
	border-radius: 4px;
	color: white;
	border: none;
	background-color: blue;
}
.contenedor{
    margin: 0 auto;
    margin-top: 200px;
}
.tabla{
	border:4px;
	background-color: rgba(91, 158, 217, 0.3);
	color:#2E2E2E;
	text-align: center;
	margin: 0 auto;
	width:50%;
}
ul.pagination {
    margin: 40px;
    text-align: center;
    
}
ul.pagination li{
	display: inline;
	color:black;
}
ul.pagination li a{
	display: inline;
	padding: 8px 16px;
}
.bus {
	text-align: right;
	padding-bottom: 30px;
	padding-right: 20px;
}
a{
    text-decoration: none;
	color: inherit;
}
.botonesPrincipal{
	text-align: center;
	padding: 50px;
	margin: 0 auto;
	width: 920px;
	height: 920px;
	color: rgba(78, 45, 255, 1);
}
.botonesPrincipal button{
	text-align: center;
	background-color: rgba(91, 158, 217, 0.3);
	width: 170px;
	height: 50px;
	margin-right: 30px;
}
.botonesUsuario{
    text-align: center;
	padding: 50px;
	margin: 0 auto;
	width: 320px;
	height: 320px;
	color: rgba(78, 45, 255, 1);
}
.botonesUsuario button {
	text-align: center;
	background-color: rgba(91, 158, 217, 0.3);
	width: 150px;
	height: 50px;
	margin-right: 30px;
}
