<!doctype html>
<title>welcome</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">

<body class="bodyAnimal">
<div    class="contenedor">
    <table class="tabla" border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <form action="/animal" method= "post">
                <div class="buscar">
                    <input type="text" name="busc" placeholder="Buscar" value="{{ request.form.busc }}">
                    <input type="submit" name="boton" value="Buscar" class="btn">
                </div>
            </form>
            {% for a in listaAnimales %}
            <tr>
                <td>{{a.nombre}}</td>
                <td>{{a.descripcion}}</td>
                <td>{{a.foto}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <ul class="pagination">
        {{ pagination.links }}
    </ul>
    </div>
</body>



