<!DOCTYPE html>
{% if admin %}
{% if logueado %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrar Usuarios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">
</head>
<body>
	<form action="/insertarAnimal" method= "post" class="centrarBorrar">
		<input type="text" name="username" placeholder="Username">
		<button type = "button"> Aceptar </button>
        <button type = "button"><a href="principal"> Atras </a></button>
		<hr>
	</form>

</body>
</html>
{%endif%}
{%endif%}