<!doctype html>
{% if logueado %}
<title>Dosis</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">

<body class="bodyAnimal">
<div    class="contenedor">
    <table class="tabla" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Animal</th>
                <th>Medicamento</th>
                <th>Enfermedad</th>
                <th>RangoPeso</th>
                <th>Dosis</th>
            </tr>
        </thead>
        <tbody>
            <form action="/dosis" method= "post">
                <div class="bus">
                    <input type="text" name="busc" placeholder="Enfermedad" value="{{ request.form.busc }}">
                    <input type="submit" name="boton" value="Buscar" class="btn">
                </div>
            </form>
            <form action="/dosis" method= "post">
                <div class="bus">
                    <input type="text" name="busc2" placeholder="Animal" value="{{ request.form.busc }}">
                    <input type="submit" name="boton2" value="Buscar" class="btn">
                </div>
            </form>
            {% for a in listaDosis %}
            <tr>
                <td>{{a.ID}}</td>
                <td>{{a.animal}}</td>
                <td>{{a.medicamento}}</td>
                <td>{{a.enfermedad}}</td>
                <td>{{a.rangoPeso}}</td>
                <td>{{a.dosis}}</td>
            </tr>

            {%endfor%}
        <button type = "button"><a href="principal"> Atras </a></button>
        </tbody>
    </table>
    <ul class="pagination">
        {{ pagination.links }}
    </ul>
    </div>
</body>
{%endif%}