<!DOCTYPE html>
{% if logueado %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insertar Usuario</title>
</head>
<body>
    <form action="/insertarUsuario" method= "post">
        <input type="text" name="Username" placeholder="Username">
        <input type="password" name="Password" placeholder="Password">
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="text" name="Admin" placeholder="Admin">
        <input type="text" name="Foto" placeholder="Foto">
        <input type="submit" name="boton" value="Accept" class="btn">
    </form>
</body>
</html>
{%endif%}