<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insertar Prescripcion</title>
</head>
<body>
    <form action="/insertarPrescripcion" method= "post">
        <input type="text" name="ID" placeholder="ID">
        <input type="text" name="Usuario" placeholder="Usuario">
        <input type="text" name="Animal" placeholder="Animal">
        <input type="text" name="Enfermedad" placeholder="Enfermedad">
        <input type="text" name="Peso" placeholder="Peso">
        <input type="text" name="Dosis" placeholder="Dosis">
        <input type="submit" name="boton" value="Accept" class="btn">
    </form>
</body>
</html>