<!DOCTYPE html>
{% if logueado %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insertar Dosis</title>
</head>
<body>
    <form action="/insertarDosis" method= "post">
        <input type="text" name="ID" placeholder="ID">
        <input type="text" name="Animal" placeholder="Animal">
        <input type="text" name="Medicamento" placeholder="Medicamento">
        <input type="text" name="Enfermedad" placeholder="Enfermedad">
        <input type="text" name="RangoPeso" placeholder="RangoPeso">
        <input type="text" name="Dosis" placeholder="Dosis">
        <input type="submit" name="boton" value="Accept" class="btn">
    </form>
</body>
</html>
{%endif%}