<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menú Usuarios</title>
</head>
<body>
    <div class="botonesPrincipal">
        <ul>
            <button type = "button"><a href="usuario"> Ver Usuario </a></button>
            <button type = "button"><a href="animal"> Ver Animales </a></button>
            <button type = "button"><a href="medicamentos"> Ver Medicamentos </a></button>
            <button type = "button"><a href="enfermedad"> Ver Enfermedades </a></button>
            <button type = "button"><a href="dosis"> Ver Dosis </a></button>
            <button type = "button"><a href="prescripcion"> Ver Prescripcion </a></button>
        </ul>
    </div>

</body>
</html>
