<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menú</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">
</head>
<body>
    <ul>
        <button type = "button"> Insertar Animal </button>
        <button type = "button"> Modificar Animal </button>
        <button type = "button"> Borrar Animal </button>
    </ul>
    <ul>
        <button type = "button"> Insertar Medicamentos </button>
        <button type = "button"> Modificar Medicamentos </button>
        <button type = "button"> Borrar Medicamentos </button>
    </ul>
    <ul>
        <button type = "button"> Insertar Dosis </button>
        <button type = "button"> Modificar Dosis </button>
        <button type = "button"> Borrar Dosis </button>
    </ul>
    <ul>
        <button type = "button"> Insertar Prescripcion </button>
        <button type = "button"> Modificar Prescripcion </button>
        <button type = "button"> Borrar Prescripcion </button>
    </ul>
    <ul>
        <button type = "button"> Insertar Usuario </button>
        <button type = "button"> Modificar Usuario </button>
        <button type = "button"> Borrar Usuario </button>
    </ul>
    <ul>
        <button type = "button"> Insertar Enfermedades </button>
        <button type = "button"> Modificar Enfermedades </button>
        <button type = "button"> Borrar Enfermedades </button>
    </ul>
    <ul>
        <button type = "button"> Ver Usuario </button>
        <button type = "button"> Ver Animales </button>
        <button type = "button"> Ver Medicamentos </button>
        <button type = "button"> Ver Enfermedades </button>
        <button type = "button"> Ver Dosis </button>
        <button type = "button"> Ver Prescripcion </button>
    </ul>

</body>
</html>