<!DOCTYPE html>
{% if logueado %}
{% if admin %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menú</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">
</head>
<body>
    <div class="botonesPrincipal">
        <h1>Menú Administrador</h1>
        <h3>Animales</h3>
        <button type = "button"><a href="insertarAnimal"> Insertar Animal </a></button>
        <button type = "button"> Modificar Animal </button>
        <button type = "button"> Borrar Animal </button>
        <button type = "button"><a href="animal"> Ver Animales </a></button>
        <hr>
        <h3>Medicamentos</h3>
        <button type = "button"><a href="insertarMedicamentos"> Insertar Medicamentos </a></button>
        <button type = "button"> Modificar Medicamentos </button>
        <button type = "button"> Borrar Medicamentos </button>
        <button type = "button"><a href="medicamentos"> Ver Medicamentos </a></button>
        <hr>
        <h3>Enfermedades</h3>
        <button type = "button"><a href="insertarEnfermedades"> Insertar Enfermedades </button>
        <button type = "button"> Modificar Enfermedades </button>
        <button type = "button"> Borrar Enfermedades </button>
        <button type = "button"><a href="enfermedad"> Ver Enfermedades </a></button>
        <hr>
        <h3>Dosis</h3>
        <button type = "button"><a href="insertarDosis"> Insertar Dosis </a></button>
        <button type = "button"> Modificar Dosis </button>
        <button type = "button"> Borrar Dosis </button>
        <button type = "button"><a href="dosis"> Ver Dosis </a></button>
        <hr>
        <h3>Prescripcion</h3>
        <button type = "button"><a href="insertarPrescripcion"> Insertar Prescripcion </a></button>
        <button type = "button"> Modificar Prescripcion </button>
        <button type = "button"> Borrar Prescripcion </button>
        <button type = "button"><a href="prescripcion"> Ver Prescripcion </a></button>
        <hr>
        <h3>Usuario</h3>
        <button type = "button"><a href="insertarUsuario"> Insertar Usuario </a></button>
        <button type = "button"> Modificar Usuario </button>
        <button type = "button"> Borrar Usuario </button>
        <button type = "button"><a href="usuario"> Ver Usuario </a></button>
        <hr>
        <h3>Revertir y aplicar todos los cambios realizados</h3>
        <button type = "button"> Revertir </button>
        <button type = "button"> Aplicar </button>

    </div>
</body>
</html>
{%endif%}
{%endif%}